Source: modbus-tk
Priority: extra
Maintainer: Antonio Parrella <zidagartsk@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~), python-setuptools
Section: python
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/modbus-tk/

Package: python-modbus-tk
Section: python
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-kinterbasdb
Provides: ${python:Provides}
Description: Implementation of modbus protocol in python
 Modbus Test Kit provides implementation of slave and master
 for Modbus TCP and RTU.
 The main goal is to be used as testing tools.


Package: python-modbus-tk-doc
Priority: optional
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Modbus Test Kit documentation
 This package provide html documentation API and
 some examples
