#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/python-modbus-tk -- --install-layout=deb
